* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

svg {
    // width: 1000px;
    // display: block;
  }

.path-container {
    width: 1000px;
    // align-items: center;
    // justify-content: center;
}

.ball {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    
    offset-path: path('M10 80 Q 77.5 10, 145 80 T 1000 100');
    offset-distance: 0%;
  
    animation: red-ball 5s linear alternate infinite;
  }
  
  @keyframes red-ball {
    from {
      offset-distance: %;
    }
    to {
      offset-distance: 100%;
    }
  }