@import './global.scss';

.dark-gradient {
  // background: rgb(34,34,34);
  // background: linear-gradient(340deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 65%);
  background: -webkit-linear-gradient(135deg, rgba(26, 26, 26, 1) 0%, rgb(20, 20, 20) 85%);
}

.light-gradient {
  background: rgb(246, 246, 246);
  background: linear-gradient(340deg, rgba(246, 246, 246,.5) 0%, rgba(246, 246, 246,.25) 65%);
  background: -webkit-linear-gradient(340deg, rgba(246, 246, 246,.5) 0%, rgba(246, 246, 246,.25) 65%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @extend .dark-gradient;
}

.wave {
  background: url(../images/svgs/wave-with-line.svg) repeat-x;
  position: absolute;
  opacity: 1;
  top: 150px;
  width: 2300px;
  height: 404px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  // transform: translate3d(0, 0, 0);
}

.thinky {
  background: url(../images/svgs/thinky.svg);
  width: 125px;
  height: 125px;
  position: absolute;
  top: 150px;
  left: 125px;
  // animation: swell 7s infinite;
}

.isometric {
    // width: 400px;
    // height: 3200px;
    // margin: 100px auto 0 auto;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
}

.box {
    position: relative;
    width: 400px;
    height: 540px;
    border: 10px solid rgba(255, 255, 255, 0.25);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    overflow: hidden;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    @extend .dark-gradient;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.thinky-mask {
  width: 400px;
  height: 540px;
  mask-image: url(../images/svgs/thinky.svg);
  mask-size: 125px;
  mask-repeat: no-repeat;
  mask-position: 125px 150px, center;
  // animation: swell 7s infinite;
}